# Logs
DigitalMenuFrontend/logs
DigitalMenuFrontend/*.log
DigitalMenuFrontend/npm-debug.log*
DigitalMenuFrontend/yarn-debug.log*
DigitalMenuFrontend/pnpm-debug.log*
DigitalMenuFrontend/lerna-debug.log*
DigitalMenuFrontend/yarn-error.log*

DigitalMenuFrontend/node_modules
DigitalMenuFrontend/dist
DigitalMenuFrontend/dist-ssr
DigitalMenuFrontend/*.local
DigitalMenuFrontend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

DigitalMenuBackend/node_modules/
DigitalMenuBackend/dist/
DigitalMenuBackend/.env
DigitalMenuBackend/src/generated/prisma

super-admin-panel/node_modules
super-admin-panel/dist
super-admin-panel/.env